<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/main.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="nav__container">
        <nav class="side-bar">
            <ul class="nav-menu">
                <li class="nav-link">||</li>
                <li class="nav-link">||</li>
            </ul>
        </nav>
    </div>
    <main class="container">
        <h1 class="container-title">Password Manager</h1>
        <form action="/p/post" method="POST">
            <%- include('partials/_add-password-form') %>
        </form>
        <div class="grid-container">
            <div class="grid-container__header"><p>Site</p></div>
            <div class="grid-container__header"><p>Email</p></div>
            <div class="grid-container__header"><p>Key</p></div>

            <div class="password-item">
                <div class="password-item__info">
                    <div class="password-item__info-site">Google</div>
                    <div class="password-item__info-email">tam@gmail.com</div>
                    <div class="password-item__info-password hidden">someKey</div>
                </div>
                <div class="password-item__buttons">
                    <button class="btn-reveal">eye</button>
                    <button class="">copy</button>

                    <button class="edit">penwriting</button>
                    <button class="delete">garbage</button>
                </div>
            </div>

            <div class="password-item">
                <div class="password-item__info">
                    <div class="password-item__info-site">Google</div>
                    <div class="password-item__info-email">tam@gmail.com</div>
                    <div class="password-item__info-password hidden">someKey</div>
                </div>
                <div class="password-item__buttons">
                    <button class="btn-reveal">eye</button>
                    <button class="">copy</button>

                    <button class="edit">penwriting</button>
                    <button class="delete">garbage</button>
                </div>
            </div>
   
        </div>
    </main>
    <script src="/public/src/index.js"></script>
</body>
</html>