<label for="">Service</label>
<input type="text" name="service" required>
<label for="">email</label>
<input type="email" name="email" id="" required>
<input type="submit" value="+">
<button class="btn-cancel">X</button>
