@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --bg-primary: #fff8f0;
  --bg-secondary: #f4d06f;
  --text-primary: #333333;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: horizontal;
}
li {
  list-style: none;
  padding: 0;
}
div.nav__container {
  background: cadetblue;
  padding: 3rem 0 2rem 0;
  width: 64px;
  flex-shrink: 0;
}
nav.side-bar {
  background: lightblue;
}
nav.side-bar > ul {
  padding: 0;
  margin: 0;
}

main {
  width: 75%;
  min-width: 800px;
}

.hidden {
  visibility: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-auto-rows: 50px;
  gap: 4px;
}

.grid-container__header {
  margin: 0 auto;
}

.password-item {
  grid-column: 1 / 5;
  display: flex;
  flex-direction: row;
}
.password-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-areas: "info info info buttons";
}

.password-item__info {
  grid-area: info;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.password-item__buttons {
  margin-right: 8px;
  grid-area: buttons;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: flex-end;
}
.password-item__info-password {
  user-select: all;
}
